<!DOCTYPE html>
<html>
    <head>
        <title>Photon Laser Tag</title>
        <link rel="stylesheet" href="player-screen/form.css">
    </head>
    <body style="background-color:#0a060a;">
        <div id="clock">
            <span id="seconds">5</span>
        </div>
    </body>
</html>
<script>
    timeLeft = 5;

    function countdown() {
        timeLeft--;
        document.getElementById("seconds").innerHTML = String( timeLeft );
        if (timeLeft > 0) {
            setTimeout(countdown, 1000);
        }
        else
            window.location = "action";
    };

setTimeout(countdown, 1000);

</script>