<!DOCTYPE html>
<html>

<head>
    <title>Photon Laser Tag</title>
    <link rel="stylesheet" href="player-screen/form.css">
</head>

<div class="fade-in">

    <body onload="startKey()" style="background-color: #0a060a;">
        <div class="row">
            <div class="column">
                <table>
                    <tr>
                        <th style="background-color: #fa7055;">Player ID</th>
                        <th style="background-color: #fa7055;">Player Codename</th>
                    </tr>
                    <form class="player-form" action="/entry" method="POST" onsubmit="return validateForm();">
                        <%- include('players.ejs') %>
                            <div style="text-align: center;"><button type="submit" class="btn">Submit</button></div>
                    </form>
            </div>
        </div>
</div>
</body>

<script>
    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        window.location = "/";
    }

    let timer;
    const waitTime = 500;

    function startKey(){
        window.addEventListener('keydown', function(event){
            if(event.key == 'F5'){
                event.preventDefault();
                //TODO add countdown timer here
                //console.log("F5 Pressed")
            }
        });
        
        //Prevent F5 Shortcut from refreshing the page
        window.addEventListener('keyup', function(event) {
            if (event.key == 'F5') {
              event.preventDefault();
            }
          });
    }

    function typeChecker(id, index) {


        clearTimeout(timer);

        timer = setTimeout(() => {
            getCodename(id, index);
        }, waitTime);
    }

    function getCodename(id, index) {

        if (id.length == 0) {
            return;
        }
        else {
            document.getElementsByName(`${index}[playerCodename]`)[0].value = "Querying...";
            id = parseInt(id);

            // Query DB for id
            if (typeof id === 'number' && !isNaN(id)) {

                var xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {

                        if (this.responseText == "") {
                            document.getElementsByName(`${index}[playerCodename]`)[0].readOnly = false;
                            document.getElementsByName(`${index}[playerCodename]`)[0].value = "";
                            return;
                        }
                        var playerCodename = JSON.parse(this.responseText);
                        
                        document.getElementsByName(`${index}[playerCodename]`)[0].readOnly = true;
                        document.getElementsByName(`${index}[playerCodename]`)[0].value = playerCodename.codename;
                    }
                }

                xmlhttp.open("GET", `/entry?id=${id}`, true);
                xmlhttp.send();
            }
            else {
                document.getElementsByName(`${index}[playerCodename]`)[0].readOnly = true;
                document.getElementsByName(`${index}[playerCodename]`)[0].value = "";
            }
        }
    }

    function validateForm() {
        for (let i = 0; i < 31; i++) {
            if ((document.getElementsByName(`${i}[playerID]`)[0].value != "") && (document.getElementsByName(`${index}[playerCodename]`)[0].value == "")) {
                alert(`Enter a Codename for ${document.getElementsByName(`${i}[playerID]`)[0].value}!`);
                return false;
            }
        }

        return true;
    }
</script>

</html>