<!DOCTYPE html>
<html>

<head>
    <title>Testing</title>
    <link rel="stylesheet" href="display.css">
</head>

    <body></body>
        <div class = "container">
            <body style="background-color: white;" onload="clearForm()">
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th style="background-color: #fa7055;">Player Code Name</th>
                                <th style="background-color: #fa7055;">Score</th>
                            </tr>
                            </form>
                    </div>
                </div>
                 <div style = "position:relative; left:center; top:225px;">
                    <div class="line"></div>
                    <h3>Remaining Time:</h3>
                 </div>
            </div>
        </div>
    </body>

</html>
